<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Nagios Manager</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4E9843757445024B881D1412AA740A8FA664F075</string>
				<key>dateExpires</key>
				<string>6/8/23</string>
				<key>type</key>
				<string>Developer ID Application</string>
			</dict>
			<key>name</key>
			<string>Nagios Manager.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6X48Z7RLLF</string>
				<key>name</key>
				<string>The Zimmerman Agency</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
